.BoardIcon {
    display: inline-block;
    user-select: none;
}

.BoardIcon img {
    height: 30px;
    width: auto;
    margin: 0 auto;
    vertical-align: middle;
}

.BoardIcon img:hover{
    cursor: pointer;
}

