.Square {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    width: 12.5%; 
    height: 12.5%;
    font-size: 12px;
    line-height: 220%;
    /*vertical-align: middle;*/
}

.Dark {
    background-color: black;

}

.Light {
    background-color: rgb(245, 202, 210);
}

.Square img {
    height: 80%;
    width: auto;
}