.BoardContainer {
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    .BoardContainer {
		border: 1px solid #ccc;
        box-shadow: 3px 2px #eeeeee;
        width: auto;
        padding: 25px;
        margin: 0 auto;
    }
}