.MoveOutput {
    /*box-shadow: 3px 2px #ccc;
    border: 1px solid #eee;*/
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    font-size: 1.6rem;
    margin: 0 auto;
    user-select: none;
}

.MoveOutput div {
    display: inline-block;
}

.MoveOutput img {
    height: 20px;
    width: auto;
    margin: auto;
}